@use './utils/variables' as *
@use './utils/mixins' as *

.numericFiltersContainer
  display: flex
  flex-wrap: wrap
  min-width: 0
  gap: 20px
  justify-content: center

  .selectorsContainer
    display: flex
    flex-direction: column
    gap: 20px

  .firstSelect
    margin-bottom: 1px

  .buttonsContainer
    display: flex
    flex-wrap: wrap
    align-items: center

  input
    @include inputs
    width: 80px
    text-align: center
    margin: 0 20px
    -moz-appearance: textfield

    &::-webkit-inner-spin-button
      -webkit-appearance: none
    

  @include selects


  button
    @include buttons